asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.2
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
mysqlclient==2.2.7
prettytable==3.16.0
pyecharts==2.0.8
PyJWT==2.9.0
requests==2.32.3
simplejson==3.20.1
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.4.0
wcwidth==0.2.13
